<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Gradle agent-side">
  <test name="Gradle agent-side">
    <classes>
      <class name="jetbrains.buildServer.gradle.test.integration.GradleRunnerCompileTest"/>
      <class name="jetbrains.buildServer.gradle.test.integration.GradleRunnerDepBasedTestTest"/>
      <class name="jetbrains.buildServer.gradle.test.integration.GradleRunnerTestTest"/>
      <class name="jetbrains.buildServer.gradle.test.integration.GradleRunnerWrapperTest"/>
      <class name="jetbrains.buildServer.gradle.test.integration.GradleToolProviderTest"/>
      <class name="jetbrains.buildServer.gradle.test.unit.GradleRunnerServiceTest"/>
    </classes>
  </test>
</suite>