<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Gradle agent-side">
  <test name="Gradle agent-side">
    <classes>
      <class name="jetbrains.buildServer.gradle.test.integration.GradleRunnerCompileTest"/>
      <class name="jetbrains.buildServer.gradle.test.integration.GradleRunnerDepBasedTestTest"/>
      <class name="jetbrains.buildServer.gradle.test.integration.GradleRunnerTestTest"/>
      <class name="jetbrains.buildServer.gradle.test.integration.GradleRunnerWrapperTest"/>
      <class name="jetbrains.buildServer.gradle.test.integration.GradleToolProviderTest"/>
      <class name="jetbrains.buildServer.gradle.test.integration.GradleParallelRunTest"/>
      <class name="jetbrains.buildServer.gradle.test.integration.GradleRunnerPropertiesTest"/>
      <class name="jetbrains.buildServer.gradle.test.integration.FilterTests"/>
      <class name="jetbrains.buildServer.gradle.test.integration.GradleRunnerConfigurationCacheTest"/>
      <class name="jetbrains.buildServer.gradle.test.integration.GradleRunnerCommandLineArgumentsTest"/>
      <class name="jetbrains.buildServer.gradle.test.integration.GradleRunnerJvmArgumentsTest"/>
      <class name="jetbrains.buildServer.gradle.test.integration.GradleRunnerToolingApiClasspathTest"/>

      <class name="jetbrains.buildServer.gradle.test.unit.GradleRunnerServiceTest"/>
      <class name="jetbrains.buildServer.gradle.test.unit.TeamCityBuildPropertiesGradleSplitterTest"/>
      <class name="jetbrains.buildServer.gradle.test.unit.GradleLaunchModeSelectorTest"/>
      <class name="jetbrains.buildServer.gradle.test.unit.GradleJvmArgsMergerTest"/>
      <class name="jetbrains.buildServer.gradle.test.unit.GradleConfigurationCacheDetectorTest"/>
    </classes>
  </test>
</suite>