### Gradle template
.gradle/
build/

# IDEA
.idea/
*.iml

# tools
.tools/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
local-repo
.DS_Store

local-gradle-repo

