<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Root Suite" verbose="1">
    <test name="Gradle Test Executor-1">
        <classes>
            <class name="MyTest">
                <methods>
                    <include name="test1" />
                </methods>
            </class>
        </classes>
    </test>
    <test name="Gradle Test Run-2">
        <classes>
            <class name="MyTest">
                <methods>
                    <include name="test2" />
                </methods>
            </class>
        </classes>
    </test>
    <test name="Partition 1 on localhost-executor-1">
        <classes>
            <class name="MyTest">
                <methods>
                    <include name="test3" />
                </methods>
            </class>
        </classes>
    </test>
    <test name="Partition 42 on remote executor 42">
        <classes>
            <class name="MyTest">
                <methods>
                    <include name="test4" />
                </methods>
            </class>
        </classes>
    </test>
    <test name="Partition 1 in session 2 on localhost-executor-1">
        <classes>
            <class name="MyTest">
                <methods>
                    <include name="test5" />
                </methods>
            </class>
        </classes>
    </test>
    <test name="Partition 42 in session 24 on localhost-executor-118">
        <classes>
            <class name="MyTest">
                <methods>
                    <include name="test6" />
                </methods>
            </class>
        </classes>
    </test>
    <test name="Custom name">
        <classes>
            <class name="MyTest">
                <methods>
                    <include name="test7" />
                </methods>
            </class>
        </classes>
    </test>
    <test name="Will be ignored">
        <classes>
            <class name="MyTest">
                <methods>
                    <include name="test8" />
                </methods>
            </class>
        </classes>
    </test>
</suite>
